*{
margin:0;
padding:0;
box-sizing:border-box;
font-family:Segoe UI;
}

body{
background:#ece5dd;
}

.login{

height:100vh;

display:flex;

flex-direction:column;

justify-content:center;

align-items:center;

gap:15px;

}

.login h1{

color:#128C7E;

font-size:40px;

}

.login input{

width:320px;

padding:15px;

border:none;

border-radius:10px;

font-size:16px;

outline:none;

box-shadow:0 2px 8px rgba(0,0,0,.1);

}

.login button{

width:320px;

padding:15px;

border:none;

border-radius:10px;

background:#25D366;

color:white;

font-size:18px;

cursor:pointer;

}

.login button:hover{

background:#128C7E;

}