*{
margin:0;
padding:0;
box-sizing:border-box;
font-family:"Poppins",sans-serif;
}

body{

background:
linear-gradient(
145deg,
#09090b,
#18181b,
#111827
);

overflow:hidden;

}

/* PAGE */

.login{

height:100vh;

display:flex;

justify-content:center;

align-items:center;

position:relative;

}

/* GLOW */

.login::before{

content:"";

position:absolute;

width:700px;

height:700px;

background:

radial-gradient(
circle,
rgba(124,58,237,.28),
transparent 65%
);

top:-250px;

right:-180px;

}

.login::after{

content:"";

position:absolute;

width:650px;

height:650px;

background:

radial-gradient(
circle,
rgba(59,130,246,.18),
transparent 70%
);

bottom:-300px;

left:-200px;

}

/* CARD */

.login-card{

width:430px;

padding:45px;

border-radius:34px;

background:

rgba(255,255,255,.04);

backdrop-filter:
blur(26px);

border:

1px solid
rgba(255,255,255,.08);

display:flex;

flex-direction:column;

gap:18px;

box-shadow:

0 20px 80px
rgba(0,0,0,.45);

position:relative;

z-index:5;

}

/* TITLE */

.login-card h1{

font-size:42px;

font-weight:700;

color:white;

}

.login-card p{

color:#9ca3af;

margin-bottom:10px;

}

/* INPUT */

.login input{

width:100%;

padding:18px;

border:none;

outline:none;

border-radius:18px;

background:

rgba(255,255,255,.06);

color:white;

font-size:15px;

transition:.3s;

}

.login input::placeholder{

color:#7c8493;

}

.login input:focus{

transform:

translateY(-2px);

background:

rgba(255,255,255,.09);

box-shadow:

0 0 0 2px
#7c3aed;

}

/* BUTTON */

.login button{

height:58px;

border:none;

border-radius:18px;

font-size:16px;

font-weight:600;

cursor:pointer;

transition:.35s;

}

/* LOGIN */

.login button:first-of-type{

background:

linear-gradient(
90deg,
#7c3aed,
#2563eb
);

color:white;

}

.login button:first-of-type:hover{

transform:
translateY(-3px);

box-shadow:

0 15px 40px
rgba(124,58,237,.45);

}

/* REGISTER */

.login button:last-of-type{

background:

transparent;

border:

1px solid
rgba(255,255,255,.15);

color:white;

}

.login button:last-of-type:hover{

background:

rgba(255,255,255,.05);

}

/* MOBILE */

@media(max-width:768px){

.login-card{

width:92%;

padding:35px;

}

.login-card h1{

font-size:34px;

}

}